<!DOCTYPE html>
<html>
<head>
    <title>Async Inn</title>
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="~/styles/Style.css" />
</head>
<body>
    <h1>Async Inn Management System (AIMS) </h1>
</body>
</html>